
.select {
    width: 160px;
}

.input {
    width: 60px;
}

.creator {
    font-size: 9px;
    display: inline-block;
    margin-right: 5px;
}

.video-counts-wrapper {
    text-align: center;
}

.video-counts {
    font-size: 30px;
    font-weight: bold;
}

.sub-video td {
    background-color: antiquewhite;
}

.random-videoInfo {
    display: inline-block;
}
